@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primary-color: #18375a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;/*Bu yazi boyutu en buyuk ekranda oloacak, burasi sliderin boyutunu buyutuyor..icinde var olan font dan dolayidir muhtemelen*/
/*Buraya font-size 1.4 rem verince biz artik bu projede 1 rem 1.4 rem olarak kullanilacak demektir...o yuzden burasi cook onemlidir dikkat edlim..*/

/* Burasi degisince kategory butonunun yerinin bozulmamasi gerekiiyor veya digerlerindeki degisme oranlari ayni olmali, bu surdurulebilirlik acisindan cook onemli buna iyi bakalim ve burayi iyi inceleyelim........  */

}
/*1700 px or larger*/
@media only screen and (min-width:1700px) {
* {

font-size: 1.6rem;/*Bu yazi boyutu en buyuk ekranda oloacak, burasi sliderin boyutunu buyutuyor..icinde var olan font dan dolayidir muhtemelen*/

}
}

/*Arka plan resmine gradient uygulayaagiz yazilar daha iyi gozukmesi icin...
Resme parallax efetktte verecegiz
*/
.fullscreen-header {
  height: 85vh;
  background-image: url("images/hemsedal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-top {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  padding-bottom: 0.5rem;
  
}

.nav__list {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*ul,li,a ile menu yaparken genellikle biz a ya class veripi a ya padding vererek ya da ihtiyc durumunda a ya rem ile height vererek boyutu ayarlariz ...a nin parenti durumundaki olanlar zaten otomatikmen icindekine ayak uyduracak ondan dolayi biz ul, li ye bir de ekstra width, heigh verirsek kendi isimizi zorlastirmis olurz, burda her zaman icin ihtiyaci goz onunde bulundurmaliyiz, eger elimizde birden fazla element var aralrinda cocuk ebevyn iliskisi var ise boyut verirken eger ozel bir durum yoksa her zaman cocugu secmeliyiz..
*/
.nav__list-item {
  height: 5rem;/*Navbar in bu boyutu en buyuk ekran icin olacak*/
  text-decoration: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  

}

.nav__list-item::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 0.1rem;
  left: 0;
  bottom: 0.5rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease-in-out;
  transform-origin: center;

}
.nav__list-item:hover {

  color: #fff;
}
.nav__list-item:hover::before {
  
  transition: 0.7s ease-in-out;
  transform-origin: left;
  transform: scaleX(1);
 
}

.icon-plus:before {
  content: "\e900";
  font-size: 1.6rem;

}

/*1700 px or larger*/
@media only screen and (min-width:1700px) {
  .icon-plus:before {
  
  font-size: 2rem;

}
}

.slider-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  background-color: #f5f0f0;
  position: relative;
  z-index: 0;
  margin-bottom: 2rem;
}

.item {
  width: 100%;
  height: 20rem;
  background-color: blue;
  border-radius: 0.4rem;
}

.owl-theme {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 15%;
}

.slider-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}






.filterBar-container {
 width: 100%;
 height: 8rem;
 background-color: #465f7b;
 padding:0 15%;
 color: #fff;
 display: flex;
 justify-content: flex-start;
 align-items:center;



}

.search-happening-btn {
 color: #000;
 margin-left: 15%;

 

}
.search-btn {
    border: none;
    background-color: #fff;
    padding:.5rem ;
    color: black;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: .2rem;
    display: flex;
    justify-content:space-evenly;
    align-items:center; 
      
}

.filterBar-title {
   margin-left: -30%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  position: relative;
}

.filterBar-title > p {
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #465f7b;
  color: #fff;
  padding:1rem 1.5rem;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}


   /*1700 px or larger*/
   @media only screen and (min-width:1700px) {
    .filterBar-title > p {
  font-weight: bold;
  font-size: 2rem;
 
}
}

.filterBar-container-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
margin-bottom: .4rem;


}

.category-container{

display: flex;
justify-content: flex-start;
align-items: center;
}


.category-month-container {
display: flex;
justify-content: flex-start;
align-items: center;
}


.filterBar-container__item {
/* padding: 1rem 1rem; */

display: flex;
justify-content: flex-start;
align-items: center;
position: relative;


}



.date-title {
width:7rem;
text-align: center;

}

.month-date-title {

}
.input {
width: 80%;
}

.calendar {
font-size:.95rem;
margin-right: -1.5rem;
margin-left: .4rem;
}
.filterBar-container__item-category {
background-color: #fff;
padding:.5rem 1.5rem;
color: black;
border-radius: 0.2rem;
cursor: pointer;
margin-right: .2rem;
display: flex;
justify-content:space-evenly;
align-items:center; 
}

/* .test {
position: absolute;
bottom: -40%;
  width: 20rem;
  background-color: red;
  height: 5rem;
}
*/

.category_label {
margin-right: .5rem;
}

.fa-solid{
margin-right: .5rem;
}

/*BEST PRACTISE----POSITION RELATIVE ILE BIR ONCEKI KUTUYA GORE TOP,LEFT LERI KULLANARAK YERLESTIRME..*/
.category_list  {
/* position: absolute;
z-index: 2;
bottom: -4.5rem;
right: -15rem;
width: 300%;  */
position: relative;
z-index: 3;
top:0;
left: 25%;

width: 50%;
background-color:#f5f0f0 ;
border: 1px solid #000;
border-radius: .4rem;
padding-left: .6rem;
padding-bottom: 1.3rem;
padding-top: .3rem;  
display: flex;
color: black;
flex-wrap: wrap;
}
/* category_list_item da verilen margin-top dan dolyhai sadece padding-bottom verdik*/


@media only screen and (min-width:1700px) {
.category_list  { 
bottom: -4.8rem;


}
}
.category_list__item {
width: 20%;
display: flex;
justify-content: flex-start;
align-items: center;
margin-top: 1rem;

}



.category_list__item >input {
width: 1.2rem;
height: 1.2rem;
margin-right: .2rem;
cursor: pointer;
}

/*1700 px or larger*/
@media only screen and (min-width:1700px) {
.category_list label {
font-size: 1.3rem;
}

.category_list__item >input {
width: 1.5rem;
height: 1.5rem;
margin-right: .2rem;
}

}

/*Filter btns*/
.filterBtns-wrapper {
 padding:0 10%;
}

.filterBtns-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top-left-radius:.5rem ;
    border-top-right-radius: .5rem;
    background-color:#FD614A;
    position: relative;
 
}

.filter-btn {
    padding:1rem 2rem;
    cursor: pointer;
    margin-left: .5rem;
    
    border-radius: .5rem;
    border: none;
    border: 2px solid chartreuse ;
    font-size: 1.2rem;
    

}

.filter-btn:hover {
    background-color:chartreuse;
    color: #fff;
}
/*Happening grids*/

.happenings {
margin-top: 1rem;
  width: 100%;
  height: 30rem;
  padding:0 10%;
}


.happening-container {
text-align:center;
font-size:2em;
color:white;
display: grid;

grid-template: repeat(2 , 400px) / repeat(auto-fit, minmax(360px, 1fr));
grid-gap:1rem;
grid-auto-rows:400px;
}



.box1{
background-color:yellow;
}
.box2{
background-color:red;
}
.box3{
background-color:gray;
}
.box4{
background-color:green;
}
.box5{
background-color:cyan;
}
.box6{
background-color:pink;
}
